/* Styling for the login container */
.login-container {
  display: flex;
  height: 100vh;
  width: 100vw; /* Set the height of the container */
  flex-direction: row; /* Arrange the child elements side-by-side */
}

/* Styling for the left panel (form) */
.left-panel {
  flex: 1; /* Occupy half of the container */
  padding: 20px;
  flex-direction: column;
}

/* Styling for the right panel (image or content) */
.right-panel {
  flex: 1; /* Occupy half of the container */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Additional styling for the right panel if needed */
}
.ant-form-item-label > label.ant-form-item-required::before {
  display: none;
}
